body {
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.homeContainer {
  background-color: black;
  width: 100%;
  height: 100%;
}

.homeContentContainer {
  display: table;
  width: 100%;
  height: 100%;
}

.nameContainer {
  width: 50%;
  padding-right: 15px;
  display: table-cell;
  vertical-align: middle;
  border-right: solid 1px grey;
}

@keyframes nameAnimation {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.firstName {
  font-family: "Arial Black", Gadget, sans-serif;
  color: white;
  font-size: 70px;
  text-align: right;
  animation-name: nameAnimation;
  animation-duration: 0.5s;
}

.lastName {
  font-family: "Arial Black", Gadget, sans-serif;
  color: white;
  font-size: 70px;
  text-align: right;
  animation-name: nameAnimation;
  animation-duration: 1s;
}

.linkContainer {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
}

@keyframes linkAnimation {
  from {
    transform: translateX(50px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.link {
  font-family: "Arial", Gadget, sans-serif;
  color: white;
  font-size: 40px;
  padding: 5px 0 5px 15px;
  animation-name: linkAnimation;
  cursor: pointer;
  font-weight: bold;
}

.link:hover {
  background-color: grey;
}

.linkAboutMe {
  animation-duration: 0.5s;
}

.linkResume {
  animation-duration: 0.75s;
}

.linkGithub {
  animation-duration: 1s;
}

.aboutMeContainer {
  width: 100%;
  height: 100%;
  background-color: Gainsboro;
  display: table;
}

.aboutMeBody {
  width: 80%;
  display: table-cell;
  vertical-align: middle;
}

.aboutMeName {
  font-family: "Arial Black", Gadget, sans-serif;
  color: #333;
  font-size: 40px;
  margin: 0 100px;
  border-bottom: solid 1px grey;
}

.aboutMeProgram {
  font-family: "Arial", Gadget, sans-serif;
  color: #333;
  font-size: 14px;
  margin: 0 100px;
  padding: 5px 0;
  border-bottom: solid 1px grey;
  font-style: italic;
}

.aboutMeContent {
  margin: 0 100px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-family: "Arial", Gadget, sans-serif;
  border-bottom: solid 1px grey;
}

.aboutMeImgContainer {
  width: 20%;
  display: table-cell;
  vertical-align: middle;
  padding-left: 100px;
}

.aboutMeImg {
  border-radius: 50%;
}

.aboutMeEmailTitle {
  display: inline-block;
  font-family: "Arial", Gadget, sans-serif;
  padding-top: 5px;
  margin-left: 100px;
}

.aboutMeEmail {
  display: inline-block;
  font-family: "Arial", Gadget, sans-serif;
  padding-top: 5px;
}

.aboutMePhoneNumber {
  display: inline-block;
  font-family: "Arial", Gadget, sans-serif;
  padding-top: 5px;
  margin-left: 20px;
}

@media (max-width: 980px) {
  .aboutMeImgContainer {
    display: block;
    padding: 0;
    width: auto;
    text-align: center;
  }

  .aboutMeImg {
    width: 240px;
    margin-top: 30px;
  }

  .aboutMeBody {
    display: block;
    margin: 0 auto;
  }
}
