@keyframes animateStartUp{
    from{opacity: 0;}
    to{opacity:1;}
}

@keyframes animateProjectBlock{
	from{opacity:0; margin-top: -300px;}
	to{opacity:1; margin-top: 0px;}
}

body{
	background-image: url("resources/background.jpg");
	animation-name: animateStartUp;
	animation-duration: 1s;
	font-family: Copperplate Gothic Light, sans-serif;
	text-align: center;
	overflow: scroll;
	padding-bottom: 300px;
}

.navbar-header{
	border-right-style: solid;
	border-width: 0.1em;
	border-right-color: white;
}

.Project-Blocks img{
	width: 100%;
	max-width: calc(100% + 10px);
	min-width: 100%;
	height: auto;
}

.Project_Page h2{
	margin-top: 2%;
	margin-bottom: 3%;
	color: #FDF5E6;
}

.Project_Page h3{
	font-size: 18px;
	margin-top: -10px;
	color: #FDF5E6;
}

.Project-Blocks{
	margin-top: 8%;
	margin-left: 15%;
	margin-right: 15%;
}

#Tower-Defense-Block{
	border-style: solid;
	border-width: 0.1em;
	border-color: black;
	border-radius: 5px;
	animation-name: animateProjectBlock;
	animation-duration: 2.5s;
}

#rspatiotemp-Block{
	border-radius: 5px;
	animation-name: animateProjectBlock;
	animation-duration: 2s;
}

#WhatBroke-Block{
	border-radius: 5px;
	animation-name: animateProjectBlock;
	animation-duration: 2.5s;
}

#Pacman-Block{
	border-radius: 5px;
	animation-name: animateProjectBlock;
	animation-duration: 3s;
}

#charRecog-Block{
	border-radius: 5px;
	animation-name: animateProjectBlock;
	animation-duration: 2s;
}